@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  position: relative;
}

a:hover {
  transition: color 0.3s ease, transform 0.2s ease;
  transform: scale(1.05);
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.1);
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}